//Colors

//Primary

//Text

$paleViolet: hsl(276, 100%, 81%); //Sub heading
$moderateViolet: hsl(276, 55%, 52%);  //Chat on the left
$desaturatedDarkViolet: hsl(271, 15%, 43%); //Chat on the right
$grayishBlue: hsl(206, 6%, 79%); //Placeholder text
$veryDarkDesaturatedViolet: hsl(271, 36%, 24%); //Main heading
$darkGrayishViolet: hsl(270, 7%, 64%); //Paragraph

//Gradients

//These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient:

$lightMagenta: hsl(293, 100%, 63%);
$lightViolet: hsl(264, 100%, 61%);

//Secondary

$white: hsl(0, 0%, 100%);
$lightGrayishViolet: hsl(270, 20%, 96%); //App background
$veryDarkDesaturatedViolet: hsl(271, 36%, 24%); //Submit button background
$veryLightMagenta: hsl(289, 100%, 72%); //Radio button outline